Feedback on draft-camwinget-tls-ts13-macciphersuites-05

Some feedback on https://tools.ietf.org/html/draft-camwinget-tls-ts13-macciphersuites-05 based on an attempt to implement the specification in Wireshark.

The draft filename has a typo, "ts13" should have been "tls13". Unfortunately correcting this typo will also reset the number at the end.

`AEAD_Encrypt` and `AEAD_Decrypt` do not exist in RFC 8446, they are called `AEAD-Decrypt` and `AEAD-Decrypt`.

`HMAC-Protect` is not defined in `TLS13-HMAC-Protected = HMAC-Protect(plaintext || HMAC(write_key, nonce || additional_data || plaintext)`. I suggest being explicit where `TLS13-HMAC-Protected` is used ("The encrypted_record field of TLSCiphertext is set to ...") and drop the `HMAC-Protect` type conversion.

It might be worth clarifying that "nonce" refers to Section 5.3 of RFC 8446. Right now it is totally undefined.

RFC 4634 is obsoleted by [RFC 6234](https://tools.ietf.org/html/rfc6234), both of them provide source code for (HMAC) SHA implementations. RFC 2104 is a better reference since it also documents requirements for the key length (any length is permitted, but the minimum recommended length is the hash output size).

The specification lacks a description of the `write_key` length requirement, I guess it is the hash length, but that should be made explicit. It does not describe the `write_iv` length although the nonce is derived from `write_iv` and the record sequence number per RFC 8446. I recommend defining `write_length` and `iv_length` for 
[RFC 8446, Section 7.3.](https://tools.ietf.org/html/rfc8446#section-7.3). The current AEAD ciphers for TLS 1.3 all use 12, but might not be true for future TLS 1.3 ciphers (the spec requires it to be at minimum 8, and `N_MIN` for an AEAD algorithm).

Interoperability notes: I managed to interoperate Wireshark with WolfSSL (current master, v4.4.0-stable-44-g3944c8eb7), HOWEVER:
- WolfSSL assumes an `iv_length` (nonce length) of 12, but subsequently fails to initialize it and uses all zeroes as `nonce`.
- WolfSSL assumes `key_length` to be half of the key length (16 for SHA-256, 24 for SHA-384).

These implementation issues suggest that the specification has to be clarified in order to remain interoperable.

Some other thoughts:
the current construction of the nonce in TLS 1.2/1.3 is based on [RFC 5116, Section 3.1](https://tools.ietf.org/html/rfc5116#section-3.1). This was a choice for a generic interface of AEAD functions, but it could also have been a simple counter for AES-GCM for example since the key is always unique to a session. For a HMAC, a simple counter is also sufficient. In fact, that is how the MAC construction in TLS 1.2 and before was defined, see [RFC 5246, Section 6.2.3.1](https://tools.ietf.org/html/rfc5246#section-6.2.3.1).

I really wonder why you do not just reuse TLS 1.2 + NULL ciphers. The only technical benefit I see is one RTT less, for security you do not gain much since nothing is confidential. An argument earlier on the [TLS mailing list](https://mailarchive.ietf.org/arch/msg/tls/kOTgZMNinRkSKoUqcCP3MrPZaFs/) reasons about hypothetical TLS 1.2 support being removed, but that should not matter since NULL ciphers are also not widely available. I suspect this is done for marketing purposes, TLS 1.3 being newer and more secure... but that will not hold if you strip the protocol of its main protection mechanisms.


Thank you very much for the feedback!  We're working on an update, I'll post it later this week.

To address your last point, there were a few reasons not to re-use TLS 1.2 for NULL ciphers.  For one, there are the reasons you highlighted about support being removed, and the more efficient handshake with less RTT.  However, there is also the fact that these ciphers will sometimes be used on products that also implement other cipher suites, and it would be better if those products could just support one version of TLS.  Furthermore, the ECC-based cipher for NULL encryption uses SHA-1, and there is a desire to support ECC with SHA-256 and SHA-384.  Instead of registering a new cipher suite for TLS 1.2 we can just register and move to TLS 1.3.